<a href="/products/{{product._id}}">Voltar</a>
<div class="page-title">
    <h2>Editando dados do curso: {{product.name}}</h2>
</div>
<form action="/products/edit" method="POST">
    <input type="hidden" name="id" value="{{product._id}}">
    <div class="form-control">
        <label for="name">Nome do curso:</label>
        <input type="text" name="name" placeholder="Digite o nome do curso" value="{{product.name}}" required>
    </div>
    <div class="form-control">
        <label for="price">Preço do curso:</label>
        <input type="text" name="price" placeholder="Digite o preço do curso" value="{{product.price}}" required>
    </div>
    <div class="form-control">
        <label for="category">Categoria:</label>
        <input type="text" name="category" placeholder="Informe a categoria" value="{{product.category}}" required>
    </div>
    <div class="form-control">
        <label for="image">URL da imagem:</label>
        <input type="text" name="image" placeholder="Digite a URL da imagem:" value="{{product.image}}" required>
    </div>
    <div class="form-control">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Descrição do curso" required>{{product.description}}</textarea>
    </div>
    <div>
        <input type="submit" class="btn" value="Editar" required>
    </div>
</form>
