<a href="/products">Voltar</a>
<div class="product-infos">
    <div>
        <h1>{{product.name}}</h1>
        <p class="product-text">{{product.description}}</p>
    </div>
    <div class="product-img">
        <img  src="{{product.image}}" alt="{{product.name}}">
        <p>Por apenas: R$ {{product.price}}</p>
    </div>        
</div>  
<div class="product-actions">
    <a class="btn" href="/products/edit/{{product._id}}">Editar Curso</a>
    <form action="/products/remove/{{product._id}}" method="POST">
        <input type="submit" class="btn-delete" value="Exluir curso">
    </form>
</div>    
            

        
        
        
       
        
